Dashboard!
<div class="form-container">
    <mat-card class="form-card">

        <button mat-raised-button color="primary" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>


        <br>
        <br>


        <div *ngIf="(user | async)">
            <div>account status: {{ (user | async)?.accountStatus }}</div>
            <div>account type: {{ (user | async)?.accountType }}</div>
            <div>display name: {{ (user | async)?.displayName }}</div>
            <div>display name lower: {{ (user | async)?.displayName_lower }}</div>
            <div>email: {{ (user | async)?.email }}</div>
            <div>email lower: {{ (user | async)?.email_lower }}</div>
        </div>
    </mat-card>

</div>